* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

pre {
    background-color: hsl(0,0%,96.5%);
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 6px;

    & * {
        white-space: break-spaces;
        font-family: ui-monospace,"Cascadia Code Regular","Segoe UI Mono","Liberation Mono",Menlo,Monaco,Consolas,monospace;
    }
}