.search {
    &__input {
        height: 40px;
        width: 300px;
        border-radius: 14px;
        outline: none;
        border: 1px solid hsl(210,8%,55%);
        padding-left: 35px;

        @media screen and (max-width: 700px) {
            width: 150px;
        }

        @media screen and (max-width: 550px) {
            width: 90px;
        }
    }

    &__icon {
        position: absolute;
        left: 12px;
        top: 10px;
        fill: hsl(210,8%,55%);
    }
}

.SearchInput {
    position: relative;
}